@page "/CreateTrust"
@inject NavigationManager navManager
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

@using System.Numerics


<div class="section-address">
    <div>
        @if (!HasMetaMask)
        {
            <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
        }
        else if (string.IsNullOrEmpty(SelectedAddress))
        {
            <br />
            <Button Color="Color.Primary" Clicked="ConnectMetaMask">Connect MetaMask</Button>
            <br />
        }
        else if (IsSiteConnected)
        {
           <div class="address">
                <p>@SelectedAddress : @SelectedNetwork</p>
            </div>
        }
    </div>
</div>
<Div>
    <h1 class="header-label">Trust Creation</h1>
</Div>
<br />
<Div Class="tab-container" Position="Position.Relative">
    <Blazorise.ThemeProvider Theme="@theme">
        <Div class="tabs" Position="Position.Absolute.Start.Is50.Translate.Middle">
            <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged"> 
                <Items>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/">Home</Tab>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/CreateTrust">CreateTrust</Tab>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/WithdrawFunds">WithdrawFunds</Tab>
                </Items>
            </Tabs>
        </Div>
    </Blazorise.ThemeProvider>
</Div>
<br />
<Div Class="center">
    <h3 class="info">Create a trust by adding a beneficiary address, an amount to lock up, and a date for funds to be released.</h3>
</Div>
<br />
<Div>
    <Div Class="input-center">
        <FieldLabel Class="input-label" TextColor="TextColor.Danger">Beneficiary Address: @BeneficiaryAddress</FieldLabel>
        <TextEdit Background="Background.Secondary" Color="Color.Danger" TextColor="TextColor.Danger" Border="Border.Is4.RoundedPill.Danger" Width="Width.Is75" Size="Size.Large" FigureSize="FigureSize.Is32x32" Placeholder="Beneficiary Address" @bind-Text="BeneficiaryAddress"/>
        <br />
        <FieldLabel Class="input-label" TextColor="TextColor.Danger">Amount ETH: @AmountToLock ETH</FieldLabel>
        <NumericPicker Background="Background.Secondary" Placeholder="Amount" Color="Color.Danger" Border="Border.Is4.RoundedPill.Danger" Width="Width.Is75" Size="Size.Large" FigureSize="FigureSize.Is32x32" ValueChanged="@OnAmountChanged" Decimals="18" TValue="decimal"/>
        <br>
        <Div  Width="Width.Is75">
            <FieldLabel Class="input-label" TextColor="TextColor.Danger">Release Date: @ReleaseDate</FieldLabel>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <DatePicker Background="Background.Secondary" Color="Color.Danger" TextColor="TextColor.Danger" Border="Border.Is4.RoundedPill.Danger" Size="Size.Large" FigureSize="FigureSize.Is32x32" Date="@ReleaseDate" DateChanged="@OnDateChanged" Placeholder="Release Date" @ref="@datePicker" TValue="DateTime?" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Dark" Clicked="@(()=>datePicker.ToggleAsync())">
                        <Icon Name="Blazorise.IconName.CalendarDay" />
                    </Button>
                </Addon>
            </Addons>
        </Div>
    </Div>
</Div>
<br />
<Div Class="input-center">
    <br />
    <Button Class="btn btn-success" @onclick="@OnSubmitClicked">Submit And Create Trust</Button>
    <br />
</Div>
<br />
<style>
    body {
        background-color: darkgray;
        
    }
</style>











