@page "/WithdrawFunds"
@inject NavigationManager navManager
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Nethereum.ABI.Model
@using Nethereum.ABI.FunctionEncoding
@using MetaMask.Blazor.Exceptions
@using MetaMask.Blazor
@using Nethereum.Web3
@using System.Numerics
@using MetaMask.Blazor.Enums
@using System.Numerics
@using Nethereum.Web3
@using Nethereum.ABI.Model
@using Nethereum.ABI.FunctionEncoding
@using MetaMask.Blazor.Exceptions


<div class="section-address">
    <div>
        @if (!HasMetaMask)
        {
            <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
        }
        else if (IsSiteConnected)
        {
           <div class="address">
                <p>@SelectedAddress : @SelectedNetwork</p>
            </div>
        }
        else
        {
            <br />
            <Button Color="Color.Primary" Clicked="ConnectMetaMask">Connect MetaMask</Button>
            <br />
        }
        
    </div>
</div>
<Div>
    <h1 class="header-label">Withdraw Funds</h1>
</Div>
<br />
<Div Class="tab-container" Position="Position.Relative">
    <Blazorise.ThemeProvider Theme="@theme">
        <Div class="tabs" Position="Position.Absolute.Start.Is50.Translate.Middle">
            <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged"> 
                <Items>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/">Home</Tab>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/CreateTrust">CreateTrust</Tab>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/WithdrawFunds">WithdrawFunds</Tab>
                </Items>
            </Tabs>
        </Div>
    </Blazorise.ThemeProvider>
</Div>
<br />
<Div class="center">
    <h3 class="info">Enter an amount of funds to withdraw, then click the "Submit and Withdraw Funds" button. Funds will be added to your Metamask wallet.</h3>
</Div>
<br />
<Div>
    <Div class="input-center">
        <FieldLabel class="input-label" TextColor="TextColor.Danger">Amount ETH: @AmountToWithdraw ETH</FieldLabel>
        <NumericPicker Background="Background.Secondary" Placeholder="Amount" Color="Color.Danger" Border="Border.Is4.RoundedPill.Danger" Width="Width.Is75" Size="Size.Large" FigureSize="FigureSize.Is32x32" ValueChanged="@OnAmountChanged" Decimals="18" TValue="decimal"/>
    </Div>
</Div>

<br />
<Div Class="input-center">
    <br />
    <Button Class="btn btn-success" @onclick="@OnSubmitClicked">Submit and Withdraw Funds</Button>
    <br />
</Div>
<br />
<style>
    body {
        background-color: darkgray;
        
    }
</style>







